<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<section id="help" class="help">
    <h2>Komu pomagamy?</h2>

    <!-- SLIDE 1 -->
    <div class="help--slides active" data-id="1">
        <p>W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi współpracujemy.
            Możesz sprawdzić czym się zajmują.</p>

        <ul class="help--slides-items">
            <!--/*@thymesVar id="institutions" type="pl.coderslab.charity.model.Institution"*/-->
            <th:block th:each="institution, iterStat: ${institutions} " th:class="${iterStat.odd}? 'odd'" >
                <th:block th:if="${iterStat.odd}"><li></th:block>
                <div class="col">
                    <div class="title" th:text="${institution.name}">Fundacja "Dbam o Zdrowie"</div>
                    <div class="subtitle" th:text="|Cel i misja: ${institution.description}|">Cel i misja: Pomoc dzieciom z ubogich rodzin.</div>
                </div>
                <th:block th:if="${iterStat.odd} and ${iterStat.last}">
                    <div class="col" style="display: none" >
                        <div class="title" > ...</div>
                        <div class="subtitle" > ...</div>
                    </div>
                </th:block>
                <th:block th:if="${iterStat.even} or ${iterStat.last}"></li></th:block>
            </th:block>

        </ul>


    </div>

</section>
</html>